body {
  font-family: "Playfair Display", serif;
  transition: background-color 0.3s;
  background-color: #36b55c;
  color: white;
}

#quote-box {
  position: absolute;
  line-height: 0.5;
  width: 80%;
  right: 10%;
  left: 10%;
  top: 20%;
}

.quote {
  position: relative;
  line-height: 1.1;
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
}

.quote:before,
.quote:after {
  font-size: 6rem;
  line-height: 2.5rem;
  position: absolute;
}

.quote:before {
  content: "“";
  top: 0.25em;
  left: -0.5em;
}

.quote:after {
  content: "”";
  bottom: -0.1em;
  margin-left: 0.1em;
  position: absolute;
}

.source {
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

#loadQuote {
  position: fixed;
  width: 12em;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 15px 0;
  transition: 0.5s;
}
#loadQuote:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
#loadQuote:focus {
  outline: none;
}

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }
  .quote:before,
  .quote:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}
